<html>
    <head>
        <div style="width:1250px"></div>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/register_mainmenu.css') }}">
        <script src="{{ url_for('static', filename='js/register_mainmenu.js') }}"></script>
    </head>

    <body>
      <nav style="position:absolute; z-index:10;">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <img src="{{url_for('static', filename='image/profile.png')}}" width="100px" height="100px" style="position:absolute; top:70px; left:25%">
            <h1>로그인이 필요합니다.</h1>
            <hr class="hr1"/>
            <button type="button" onclick="location.href='/login';" style="top:250px; height:40px"> 로그인 </button>
            <button type="button" onclick="location.href='/signup';" style="top:300px; height:40px"> 회원가입 </button>
            <a href="/view_restaurantlist" style="position:absolute; left:8px">맛집 조회</a>
            <a href="/register_restaurant" style="position:absolute; top:435px; left:8px">맛집 등록</a>
            <p></p>
            <a href="/map" style="position:absolute; top:485px; left:8px">맛집 지도</a>
            <a href="/recommend" style="position:absolute; top:520px; left:8px">맛집 추천</a>
        </div>

        <div id = "menu">
          <a onclick="openNav()"><img src="{{url_for('static', filename='image/vector.png')}}" height="77px"
            style="position:absolute; top:0%; left:0%"></a></div>
          <a href="/index"><h2> EAT:WHA </h2></a>


            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <img src="{{url_for('static', filename='image/profile2.png')}}" width="100px" height="105px" style="position:absolute; top:70px; left:25%">
                <h1><b>김이화</b>님 환영합니다.</h1>
                <hr class="hr1"/>
                <a href="특별화면6 - 마이페이지.html" style="position:absolute; left:8px; top:260px">마이페이지</a>
                <a href="#" style="position:absolute; left:23px; top:290px; font-size: 14px;">-로그아웃</a>
                <a href="#" style="position:absolute; left:23px; top:317px; font-size: 14px;">-즐겨찾기 목록</a>
                <a href="#" style="position:absolute; left:23px; top:344px; font-size: 14px;">-회원정보 수정</a>
                <a href="맛집 리스트화면.html" style="position:absolute; left:8px">맛집 조회</a>
                <a href="맛집 등록화면.html" style="position:absolute; top:435px; left:8px">맛집 등록</a>
                <p></p>
                <a href="특별화면5 - 맛집 지도.html" style="position:absolute; top:485px; left:8px">맛집 지도</a>
                <a href="특별화면4 - 맛집추천.html" style="position:absolute; top:520px; left:8px">맛집 추천</a>
            </div>
        </nav>


    <div class="card">
        <h2 style="position:absolute;
        width: 238px;
        height: 63px;
        margin-left: 110;
        top: 3px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        color:#fff;">메뉴 등록하기</h2>
        <div style="position:absolute; margin-left:1180px; top:32px;">
            <img src= "{{url_for('static', filename='image/To-left.png')}}" onclick="history.back();" width="40px" height="40px"></div>
     </div>
    

    <div class ="card2">
        <div class="rectangle" >
      <form enctype="multipart/form-data" action="/view_mainmenu" method="post">
        <h1><div style="position:absolute;left:30px; top:8%;">
            1. 메뉴명 등록</div></h1>

        <div style="position:absolute; left:30px; top:15%;">
            <input type="text" class="input-field" name="menu_name" placeholder="메뉴명 입력" required></div>

        <h1><div style="position:absolute; left:30px; top:30%;">
            2.가격 등록</div></h1>

        <div style="position:absolute; left:30px; top:37%;">
            <input type="text" class="input-field" name="menu_price" placeholder="가격 입력 (단위: 원)" required></div>



            <h1><div style="position:absolute; left:30px; top:50%;">
                3. 음식사진 등록</div></h1>
                <div class="rectangle2" style="top:63%;"></div>
            <div style="position:absolute; left: 40px; top:59%; ">
    
                    <div class="button">
                        <label for="image"><input type="file" name="file" />
                            <p style="position:absolute; text-align:center;width: 100px;left:370px; border-bottom: 1px solid white; color:white; font-size:18px">파일 열기</p>
                            </label>
                    </div>
      
                    <input type="file" id="image" name="file" accept="image/*" onchange="setThumbnail(event);"/>
            <div id="image_container"></div>

            </div>

      




        <script>
            function setThumbnail(event) {
                var reader = new FileReader();

                reader.onload = function(event) {
                var img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                document.querySelector("div#image_container").appendChild(img);

                img.style.width = "280px";
                img.style.height = "174px";
                };

                reader.readAsDataURL(event.target.files[0]);
            }
            </script>

    <div class="v-line"></div>
    <h1><div style="position:absolute; margin-left:37%; top:89%;">
        <button type="submit" onclick="location.href='/view_mainmenu'"  style="font-size:18px; width:121px; height: 48px;">추가</button>
        </div></h1>
    <h1><div style="position:absolute;margin-left:580px; top:7%;">
        등록된 메인 메뉴</div></h1>
    <div class="rectangle3" style="top:15%;">
        <h1>1<br>2</h1>
        <img src="{{url_for('static', filename='image/image 8.png')}}" style="position:absolute; left:50%;top:7%;">
        <h2 style="position:absolute; text-align:center;width: 70px;left:4%;top:75%; border-bottom: 1px solid white; color:white; font-size:18px">수정</h2>
        <h3 style="position:absolute; text-align:center;width: 70px;left:13%;top:75%; color:white; font-size:18px">/</h3>
        <h2 style="position:absolute; text-align:center;width: 70px;left:22%;top:75%; border-bottom: 1px solid white; color:white; font-size:18px">삭제</h2>

    </div>
    <div class="rectangle3" style="top:53%;">
        <h1>소고기가지덮밥<br>8,500(원)</h1>
        <img src="{{url_for('static', filename='image/image 8.png')}}" style="position:absolute; left:50%;top:7%;">
        <h2 style="position:absolute; text-align:center;width: 70px;left:4%;top:75%; border-bottom: 1px solid white; color:white; font-size:18px">수정</h2>
        <h3 style="position:absolute; text-align:center;width: 70px;left:13%;top:75%; color:white; font-size:18px">/</h3>
        <h2 style="position:absolute; text-align:center;width: 70px;left:22%;top:75%; border-bottom: 1px solid white; color:white; font-size:18px">삭제</h2>

    </div>
        <h1><div style="position:absolute; left:82%; top:89%;">
            <button type="submit"  onclick="location.href='/view_mainmenu'" style="font-size:18px; width:179px; height: 48px;">등록 완료하기
            </button></div></h1>
        
	</form>
    </div>
    </div>
        


</body>
</html>
