<html>
    <head>
        <div style="width :1250px;"></div>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/view_restaurantlist.css')}}">
        <script src="{{ url_for('static', filename = 'js/view_restaurantlist.js')}}"></script>
    </head>

<body>
  <nav style="position:absolute; z-index:10;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="{{url_for('static', filename='image/profile.png')}}" width="100px" height="100px" style="position:absolute; top:70px; left:25%">
        <h1>로그인이 필요합니다.</h1>
        <hr class="hr1"/>
        <button type="button" onclick="location.href='/login';" style="top:250px; height:40px"> 로그인 </button>
        <button type="button" onclick="location.href='/signup';" style="top:300px; height:40px"> 회원가입 </button>
        <a href="/view_restaurantlist" style="position:absolute; left:8px">맛집 조회</a>
        <a href="/register_restaurant" style="position:absolute; top:435px; left:8px">맛집 등록</a>
        <p></p>
        <a href="map.html" style="position:absolute; top:485px; left:8px">맛집 지도</a>
        <a href="recommend.html" style="position:absolute; top:520px; left:8px">맛집 추천</a>
    </div>

    <div id = "menu">
      <a onclick="openNav()"><img src="{{url_for('static', filename='image/vector.png')}}" height="77px"
        style="position:absolute; top:0%; left:0%"></a></div>
      <a href="/index"><h2> EAT:WHA </h2></a>

          <!--로그인 성공했을 때-->
        <!--<div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <img src="profile2.png" width="100px" height="105px" style="position:absolute; top:70px; left:25%">
            <h1><b>김이화</b>님 환영합니다.</h1>
            <hr class="hr1"/>
            <a href="특별화면6 - 마이페이지.html" style="position:absolute; left:8px; top:260px">마이페이지</a>
            <a href="#" style="position:absolute; left:23px; top:290px; font-size: 14px;">-로그아웃</a>
            <a href="#" style="position:absolute; left:23px; top:317px; font-size: 14px;">-즐겨찾기 목록</a>
            <a href="#" style="position:absolute; left:23px; top:344px; font-size: 14px;">-회원정보 수정</a>
            <a href="맛집 리스트화면.html" style="position:absolute; left:8px">맛집 조회</a>
            <a href="맛집 등록화면.html" style="position:absolute; top:435px; left:8px">맛집 등록</a>
            <p></p>
            <a href="특별화면5 - 맛집 지도.html" style="position:absolute; top:485px; left:8px">맛집 지도</a>
            <a href="특별화면4 - 맛집추천.html" style="position:absolute; top:520px; left:8px">맛집 추천</a>
        </div>-->
    </nav>

    <div class="card3">
        <div class="ha">
           <!-- <button type="button" onclick="" style="margin-left:235; top: 332px; border:none;"><img src="Arrow-right.png"></button>
            <button type="button" onclick="" style="margin-left:495; top:332px; border:none;"><img src="Arrow-right.png"></button>
            <button type="button" onclick="" style="margin-left:755; top:332px; border:none;"><img src="Arrow-right.png"></button>
            <button type="button" onclick="" style="margin-left:1015; top:332px; border:none;"><img src="Arrow-right.png"></button>
            <button type="button" onclick="" style="margin-left:235; top:660px; border:none;"><img src="Arrow-right.png"></button>
            <button type="button" onclick="" style="margin-left:495; top:660px; border:none;"><img src="Arrow-right.png"></button>
            <button type="button" onclick="" style="margin-left:755; top:660px; border:none;"><img src="Arrow-right.png"></button>
            <button type="button" onclick="" style="margin-left:1015; top:660px; border:none;"><img src="Arrow-right.png"></button>
           -->
            <div style="position:absolute; margin-left:1180; top:32px;">
                <img src= "{{url_for('static', filename='image/To-left.png')}}" onclick="history.back();" width="40px" height="40px"></div>
        <h2>코끼리식당</h2>

        <button type="total_list"
            style="position: absolute;
            width: 95px;
            height: 35px;
            margin-left: 280px;
            top: 34px;
            border: 1px solid #000000;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            display: flex;
            align-items: center;
            text-align:center;
            background-color: #CEC4BC;
            color: #7E6F63;"
            >&nbsp;&nbsp;&nbsp;전체&nbsp;&nbsp;▼</button>


            <button type="review_list"
            style="box-sizing: border-box;

            position: absolute;
            width: 95px;
            height: 35px;
            margin-left: 390px;
            top: 34px;
            border: 1px solid #000000;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            display: flex;
            align-items: center;
            text-align: center;
            background-color: #CEC4BC;
            color: #7E6F63;"
            >&nbsp;리뷰 순  ▼</button></div></div>



        </div>
    </div>

    <div class ="card">
        <div class ="ha">

            <a class="rectangle"onclick="location.href='view_one_restaurant.html';" style="margin-left:110;">
            <h1>코끼리식당</h1><img src="{{url_for('static', filename='image/restaurantpic.png')}}" width="100%;" height="52%;"
            style=" position:absolute; width:100%; ">
            <img src="{{url_for('static', filename='image/hansik.png')}}" style="position:absolute;left:145px;top:57%;">
            <ul>
                <li  >서울시 서대문구 냠냠로 123-98</li>
                <li >02-456-8473</li>
               <li> ...</li>
           </ul>
           <img class="likeimg" src="{{url_for('static', filename='image/Thumbs-up.png')}}" style="position:absolute;left:10px;top:89.5%;width: 25px;">
               <h2 >2.6</h2>
            <img class="reviewimg" src="{{url_for('static', filename='image/review.png')}}" style="position:absolute;left:90px;top:90.5%;width: 22px;">
               <h2 style="position:absolute;left:125px;" >56</h2>
               <img class="arrow" src="{{url_for('static', filename='image/Arrow-right.png')}}"style="position:absolute;left:190px;top:90%;" >
        </a>

            <a class="rectangle"onclick="location.href='view_one_restaurant.html';" style="margin-left:370">
                <h1>코끼리식당</h1><img src="{{url_for('static', filename='image/restaurantpic.png')}}" width="100%;" height="52%;"
                style=" position:absolute; width:100%;">
                <img src="{{url_for('static', filename='image/hansik.png')}}" style="position:absolute;left:145px;top:57%;">
                <ul>
                    <li  >서울시 서대문구 냠냠로 123-98</li>
                    <li >02-456-8473</li>
                   <li> ...</li>
               </ul>
               <img class="likeimg" src="{{url_for('static', filename='image/Thumbs-up.png')}}" style="position:absolute;left:10px;top:89.5%;width: 25px;">
               <h2 >2.6</h2>
               <img class="reviewimg" src="{{url_for('static', filename='image/review.png')}}" style="position:absolute;left:90px;top:90.5%;width: 22px;">
               <h2 style="position:absolute;left:125px;" >56</h2>
               <img class="arrow" src="{{url_for('static', filename='image/Arrow-right.png')}}"style="position:absolute;left:190px;top:90%;" >



            </a>
            <a class="rectangle" onclick="location.href='view_one_restaurant.html';"style="margin-left:630">
            <h1>코끼리식당</h1><img src="{{url_for('static', filename='image/restaurantpic.png')}}"  width="100%;" height="52%;"
            style=" position:absolute; width:100%;">
            <img src="{{url_for('static', filename='image/hansik.png')}}" style="position:absolute;left:145px;top:57%;">
            <ul>
                <li  >서울시 서대문구 냠냠로 123-98</li>
                <li >02-456-8473</li>
               <li> ...</li>
           </ul>
           <img class="likeimg" src="{{url_for('static', filename='image/Thumbs-up.png')}}" style="position:absolute;left:10px;top:89.5%;width: 25px;">
               <h2 >2.6</h2>
               <img class="reviewimg" src="{{url_for('static', filename='image/review.png')}}" style="position:absolute;left:90px;top:90.5%;width: 22px;">
               <h2 style="position:absolute;left:125px;" >56</h2>
               <img class="arrow" src="{{url_for('static', filename='image/Arrow-right.png')}}"style="position:absolute;left:190px;top:90%;" >

        </a>
            <a class="rectangle" onclick="location.href='view_one_restaurant.html';"style="margin-left:890">
                <h1>코끼리식당</h1><img src="{{url_for('static', filename='image/restaurantpic.png')}}"  width="100%;" height="52%;"
                style=" position:absolute; width:100%;">
                <img src="{{url_for('static', filename='image/hansik.png')}}" style="position:absolute;left:145px;top:57%;">
                <ul>
                    <li  >서울시 서대문구 냠냠로 123-98</li>
                    <li >02-456-8473</li>
                   <li> ...</li>
               </ul>
               <img class="likeimg" src="{{url_for('static', filename='image/Thumbs-up.png')}}" style="position:absolute;left:10px;top:89.5%;width: 25px;">
               <h2 >2.6</h2>
               <img class="reviewimg" src="{{url_for('static', filename='image/review.png')}}" style="position:absolute;left:90px;top:90.5%;width: 22px;">
               <h2 style="position:absolute;left:125px;" >56</h2>
               <img class="arrow" src="{{url_for('static', filename='image/Arrow-right.png')}}"style="position:absolute;left:190px;top:90%;" >

            </a>
            <a class="number" style="margin-left:1210">
                <p>1<br><br>2<br><br>3<br><br>4<br><br>5</p>
            </a>
        </div>
    </div>


        <div class="card2">
            <div class ="ha">
            <a class="rectangle2"onclick="location.href='view_one_restaurant.html';" style="margin-left:110;">
                <h1>여우분식</h1><img src="{{url_for('static', filename='image/restaurantpic.png')}}" width="100%;" height="52%;"
                style=" position:absolute; width:100%; ">
                <img src="{{url_for('static', filename='image/boonsik.png')}}" style="position:absolute;left:145px;top:57%;">
                <ul>
                    <li  >서울시 서대문구 냠냠로 123-98</li>
                    <li >02-456-8473</li>
                   <li> ...</li>
               </ul>
               <img class="likeimg" src="{{url_for('static', filename='image/Thumbs-up.png')}}" style="position:absolute;left:10px;top:89.5%;width: 25px;">
               <h2 >2.6</h2>
               <img class="reviewimg" src="{{url_for('static', filename='image/review.png')}}" style="position:absolute;left:90px;top:90.5%;width: 22px;">
               <h2 style="position:absolute;left:125px;" >56</h2>
               <img class="arrow" src="{{url_for('static', filename='image/Arrow-right.png')}}"style="position:absolute;left:190px;top:90%;" >

            </a>
            <a class="rectangle2" onclick="location.href='view_one_restaurant.html';"style="margin-left:370;">
                <h1>여우분식</h1><img src="{{url_for('static', filename='image/restaurantpic.png')}}" width="100%;" height="52%;"
                style=" position:absolute; width:100%;">
                <img src="{{url_for('static', filename='image/boonsik.png')}}" style="position:absolute;left:145px;top:57%;">
                <ul>
                    <li  >서울시 서대문구 냠냠로 123-98</li>
                    <li >02-456-8473</li>
                   <li> ...</li>
               </ul>
               <img class="likeimg" src="{{url_for('static', filename='image/Thumbs-up.png')}}" style="position:absolute;left:10px;top:89.5%;width: 25px;">
               <h2 >2.6</h2>
               <img class="reviewimg" src="{{url_for('static', filename='image/review.png')}}" style="position:absolute;left:90px;top:90.5%;width: 22px;">
               <h2 style="position:absolute;left:125px;" >56</h2>
               <img class="arrow" src="{{url_for('static', filename='image/Arrow-right.png')}}"style="position:absolute;left:190px;top:90%;" >

            </a>
            <a class="rectangle2"onclick="location.href='view_one_restaurant.html';" style="margin-left:630;">
                <h1>여우분식</h1><img src="{{url_for('static', filename='image/restaurantpic.png')}}" width="100%;" height="52%;"
                style=" position:absolute; width:100%;">
                <img src="{{url_for('static', filename='image/boonsik.png')}}" style="position:absolute;left:145px;top:57%;">
                <ul>
                    <li  >서울시 서대문구 냠냠로 123-98</li>
                    <li >02-456-8473</li>
                   <li> ...</li>
               </ul>
               <img class="likeimg" src="{{url_for('static', filename='image/Thumbs-up.png')}}" style="position:absolute;left:10px;top:89.5%;width: 25px;">
               <h2 >2.6</h2>
               <img class="reviewimg" src="{{url_for('static', filename='image/review.png')}}" style="position:absolute;left:90px;top:90.5%;width: 22px;">
               <h2 style="position:absolute;left:125px;" >56</h2>
               <img class="arrow" src="{{url_for('static', filename='image/Arrow-right.png')}}"style="position:absolute;left:190px;top:90%;" >

            </a>
            <a class="rectangle2"onclick="location.href='view_one_restaurant.html';" style="margin-left:890;">
                <h1>여우분식</h1><img src="{{url_for('static', filename='image/restaurantpic.png')}}" width="100%;" height="52%;"
                style=" position:absolute; width:100%;">
                <img src="{{url_for('static', filename='image/boonsik.png')}}" style="position:absolute;left:145px;top:57%;">
                <ul>
                    <li  >서울시 서대문구 냠냠로 123-98</li>
                    <li >02-456-8473</li>
                   <li> ...</li>
               </ul>
               <img class="likeimg" src="{{url_for('static', filename='image/Thumbs-up.png')}}" style="position:absolute;left:10px;top:89.5%;width: 25px;">
               <h2 >2.6</h2>
               <img class="reviewimg" src="{{url_for('static', filename='image/review.png')}}" style="position:absolute;left:90px;top:90.5%;width: 22px;">
               <h2 style="position:absolute;left:125px;" >56</h2>
               <img class="arrow" src="{{url_for('static', filename='image/Arrow-right.png')}}"style="position:absolute;left:190px;top:90%;" >

            </a>
            </div>
        </div>


</body>
</html>
