*{
    box-sizing: border-box;
  }
a{
      text-decoration: none;
      text-decoration-line: none;
    }
#menu a{
    color:#FFFFFF;
  }
  body {
    margin :0;
    width:100%;
    height:100%;
    background-color: #CEC4BC;
  }

  nav{
    width:80px;
    background-color: #FFFFFF;
    border-right:1px solid #FFFFFF;

    position:fixed;
    height:100%
  }


  nav h2{
    width: 80px;
    height: 95%;
    left: 50%;
    top: 633.11px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    transform: rotate(-90deg);
  }

  .card {
    background-color: #CEC4BC;
    width:1250px;
    height:92;
    margin:auto;
  }

  .card2{
    background-color: #CEC4BC;
    width:1250px;
    height:620;
    top:92px;
    margin-top:auto;
    margin:auto;

  }

  .rectangle {
    box-sizing: border-box;
    box-align:center;
    margin:100 auto;
    margin-left: 110;

    position: absolute;
    width: 1110px;
    height:600px;
    margin-top:0;

    border: 1px solid #000000;
  }

  .rectangle.infor{
    position: absolute;
    width: 300px;
    height: 170.67px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

  .rectangle a{
    position:absolute;
    width: 238px;
    height: 63px;
    left: 3%;
    top: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color:black;
  }

  .rectangle button{
    position: absolute;
    width:17%;
    right:23%;
    background-color: rgba(255, 255, 255, 0);
    color:black;
    border:1px solid black;
    align-items: center;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    color:black;
    text-align: center;
  }

  .hr-solid {
    position:absolute;
    border : 0px;
    border-top: 1px solid black;
    width:1110px;
    left:-0.5px;
    top:36.5%;
  }

  .rectangle1 {
    box-sizing: border-box;
    box-align:center;
    margin:0;

    position: absolute;
    width: 205px;
    height:50%;
    top: 47%;
    left:58;

    border: 1px solid #000000;
  }

  .rectangle1 h1{
    position: absolute;
    width: 123.08px;
    height: 28.93px;
    left: 0%;
    top: 50%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-align: center;

    color: #403831;
  }

  .rectangle1 button{
    position: absolute;
    width:69px;
    background-color:#7E6F63;
    color:rgb(255, 255, 255);
    border:1.5px solid #7E6F63;
    border-radius: 30px;
    align-items: center;
    left:60%;
    top:57%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }

  .rectangle1 button1{
    position: absolute;
    width:90%;
    left:5%;
    top:70%;
    background-color: rgba(255, 255, 255, 0);
    color:black;
    border:1px solid black;
    align-items: center;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 510;
    font-size: 13px;
    line-height: 35px;
    color:black;
    text-align: center;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    section, aside {
      width: 100%;
      padding: 0;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    nav a {
      float: none;
      width: 100%;
    }
  }

  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 300px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }


  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
    top:400px;
  }

  .sidenav h1{
    position: absolute;
    width: 180px;
    height: 80px;
    left: 43px;
    top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #343434;
  }

  .sidenav hr{
    position: absolute;
    width: 160px;
    height: 0px;
    left: 40px;
    top: 230px;

    border : 0px;
    border-top: 1.5px solid #343434;
  }

  .sidenav button{
    position: absolute;
    width:160px;
    top:200px;
    left:40px;
    background-color: rgba(255, 255, 255, 0);
    color:#343434;
    border:1.5px solid #343434;
    align-items: center;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color:black;
    text-align: center;
  }
  nav
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #224932;
    font-size: 16px;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 14px;}
    }

    @media screen and (min-height: 840px) {
      .rectangle {
        height:700;
      }
    }

    @media screen and (min-height: 920px) {
      .rectangle {
        height:730;
      }
    }
