*{
    box-sizing: border-box;
  }
  a{
      text-decoration: none;
      text-decoration-line: none;
    }
  #menu a{
    color:#FFFFFF;
  }
  body {
    margin :0;
    width:100%;
    height:100%;
    background-color: #CEC4BC;
  }

  nav{
    width:80px;
    background-color: #FFFFFF;
    border-right:1px solid #FFFFFF;

    position:fixed;
    height:100%
  }

  nav h2{
    position:absolute;
    width: 80px;
    height: 5%;
    left: 0%;
    top: 430px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    transform: rotate(-90deg);
  }

  .card {
    background-color: #CEC4BC;
    width:1250px;
    height:92;
    margin:auto;
  }

  .card h1{
    position:absolute;
    width: 300px;
    height: 63px;
    margin-left: 230px;
    top: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color:black;
  }

  .card2{
    background-color: #CEC4BC;
    width:1250px;
    height:620;
    top:92px;
    margin-top:auto;
    margin:auto;

  }

  .rectangle {
    box-sizing: border-box;
    box-align:center;
    margin:100 auto;
    margin-left: 110;

    position: absolute;
    width: 1110px;
    height:600px;
    margin-top:0;

    border: 1px solid #000000;
  }

  .hr1 {
    position:absolute;
    border : 0px;
    border-top: 1.0px solid black;
    width:54%;
    left:23%;
    top:290px;
  }

  .rectangle h1{
    position: absolute;
    width:50%;
    top:18%;
    text-align: center;
    left:0%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color:black;
  }

  .hr3{
    position:absolute;
    border : 0px;
    border-top: 1.0px solid black;
    width:54%;
    left:23%;
    top:290px;

    transform: rotate(-90deg);
  }

  .rectangle img{
    position:absolute;
    left:22%;
  }

  .hr2{
    position: absolute;
    width: 20%;
    height: 0px;
    left: 14.2%;
    top: 54%;

    border : 0px;
    border-top: 1.0px solid #343434;
  }

  .rectangle button{
    position: absolute;
    width:30%;
    top:82%;
    left:10%;
    background-color: rgba(255, 255, 255, 0);
    color:black;
    border:1.5px solid black;
    align-items: center;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color:black;
    text-align: center;
  }

  .rectangle h2{
    position: absolute;
    width:20%;
    top:46%;
    left:14%;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    align-items: center;
    color:black;
    text-decoration-line: 1px solid  black underline;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    section, aside {
      width: 100%;
      padding: 0;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    nav a {
      float: none;
      width: 100%;
    }
  }

  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 300px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }


  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
    top:400px;
  }

  .sidenav h1{
    position: absolute;
    width: 180px;
    height: 80px;
    left: 43px;
    top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #343434;
  }

  .sidenav hr{
    position: absolute;
    width: 160px;
    height: 0px;
    left: 40px;
    top: 230px;

    border : 0px;
    border-top: 1.5px solid #343434;
  }

  .sidenav button{
    position: absolute;
    width:160px;
    top:200px;
    left:40px;
    background-color: rgba(255, 255, 255, 0);
    color:#343434;
    border:1.5px solid #343434;
    align-items: center;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color:black;
    text-align: center;
  }
  nav
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #224932;
    font-size: 16px;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 14px;}
    }

    @media screen and (min-height: 840px) {
      .rectangle {
        height:700;
      }

      .hr3{
        position:absolute;
        border : 0px;
        border-top: 1.0px solid black;
        width: 700px;
        left:18.39%;
        top:340px;

        transform: rotate(-90deg);
      }
    }

    @media screen and (min-height: 920px) {
      .rectangle {
        height:730;
      }

      .hr3{
        position:absolute;
        border : 0px;
        border-top: 1.0px solid black;
        width: 730px;
        left:17%;
        top:355.5px;

        transform: rotate(-90deg);
      }
    }

    .parent {
      height: 3em; /* 애니메이션 높이 */
      overflow-y: hidden;
      display: block;
  }
  .parent .child {
      font-size: 1em;/* 애니메이션 높이 */
      font-weight: bold;
      line-height: 1;
      animation-name: grow;
      animation-duration: 1s;/* 애니메이션 시간 */
  }
  /* 키프레임 애니메이션 */
  @keyframes grow {
      from { transform: translateY(3em) }/* 애니메이션 높이 */
      to { transform: translateY(0) }
  }

  
