*{
    box-sizing: border-box;
  }
a{
    text-decoration: none;
    text-decoration-line: none;
  }
#menu a{
  color:#FFFFFF;
}
  body {
    margin :0;
    width:100%;
    height:100%;
    background: #CEC4BC;
  }

  nav{
    width:80px;
    background-color: #FFFFFF;
    border-right:1px solid #FFFFFF;

    position:fixed;
    height:100%
  }


  nav h2{
    width: 80px;
    height: 95%;
    left: 50%;
    top: 633.11px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    transform: rotate(-90deg);
  }

  .card3 h2{
    position:absolute;
    width: 1000px;
    height: 63px;
    margin-left: 110;
    top: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color:black;
  }

  .card3 h1{
    position:absolute;
    width: 238px;
    height: 63px;
    margin-left: 250px;
    top: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color:black;
  }

  .ha{
    width:1250px;
    margin: 0 auto;
    height:100%;
    background-color: #CEC4BC;
  }

  .ha button{
    position: absolute;
    width:160px;
    background-color: rgba(255, 255, 255, 0);
    color:#343434;
    border:1.2px solid #343434;
    align-items: center;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color:black;
    text-align: center;
  }

.number {
  box-sizing: border-box;
  box-align:center;
  margin:0;
  position: absolute;
  width: 10px;
  top: 40%;
}
.number h1{
  font-size: 10px;
  text-align: center;
}
.rectangle {
    box-sizing: border-box;
    box-align:center;
    margin:0;
    position: absolute;
    width: 230px;
    height:270px;
    top: 200px;
    border: 1px solid #000000;
  }

  .rectangle2 {
    box-sizing: border-box;
    box-align:center;
    margin:0;
    position: absolute;
    width: 230px;
    height:270px;
    top: 420px;
    border: 1px solid #000000;
  }


  .rectangle h1{
    position: absolute;
    width:100%;
    text-align: left;
    top:51%;
    left:20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    color:#403831;



  }
  .rectangle h2{
    position: absolute;
    width:100%;
    text-align: left;
    top:83%;
    left:45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    color:#403831;
  }

  .rectangle2 h1{
    position: absolute;
    width:100%;
    text-align: left;
    top:51%;
    left:20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    color:#403831;
  }
  .rectangle2 h2{
    position: absolute;
    width:100%;
    text-align: left;
    top:83%;
    left:45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    color:#403831;
  }
  ul{
    position:absolute;

    top:62%;
    left:-10px;


     font-family: 'Inter';
     font-style: normal;
      font-weight: 500;
       font-size: 13px;
         line-height: 20px;
       /* identical to box height */


   color: #403831;
  }


  .card {
    background-color: #CEC4BC;
    width:1250px;
    height:310px;
    margin:0 auto;
  }

  .card2{
    background-color: #CEC4BC;
    width:1250px;
    height:310px;
    margin:0 auto;
  }

  .card3{
    background-color: #CEC4BC;
    width:1250px;
    height:92px;
    margin:0 auto;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    section, aside {
      width: 100%;
      padding: 0;
    }
  }
  @media screen and (max-width: 1120px) {
    .rectangle {
      width: 220px;
    }

    .rectangle2{
      width: 220px;
    }

  }

  @media screen and (min-width: 1360px) {
    .rectangle {
      width: 243px;
    }

    .rectangle2,button{
      width: 243px;
    }
      .number h1{
        font-size: 13px;
    }
  }

  @media screen and (min-height: 840px) {
    .rectangle {
      height:320px;
    }

    .rectangle2{
      height:320px;
    }

    .rectangle2{
      top:460px;
    }
      .number h1{
        font-size: 13px;
    }
  }

  @media screen and (min-height: 920px) {
    .rectangle {
      height:350px;
    }

    .rectangle2{
      height:350px;
    }

    .rectangle2{
      top:490px;
    }
      .number h1{
        font-size: 13px;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    nav a {
      float: none;
      width: 100%;
    }
  }

  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 300px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }


  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
    top:400px;
  }

  .sidenav h1{
    position: absolute;
    width: 180px;
    height: 80px;
    left: 43px;
    top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #343434;
  }

  .sidenav hr{
    position: absolute;
    width: 160px;
    height: 0px;
    left: 40px;
    top: 230px;

    border : 0px;
    border-top: 1.5px solid #343434;
  }

  .sidenav button{
    position: absolute;
    width:160px;
    top:200px;
    left:40px;
    background-color: rgba(255, 255, 255, 0);
    color:#343434;
    border:1.5px solid #343434;
    align-items: center;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color:black;
    text-align: center;
  }
  nav
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #224932;
    font-size: 16px;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 14px;}
    }

.page-nation li{
    list-style: none;
}

.page-wrap{
    text-align: center;
    font-size: 0;
}

.page-nation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-nation a{
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #e6e6e6;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}