*{
  box-sizing: border-box;
}
a{
    text-decoration: none;
    text-decoration-line: none;
  }
#menu a{
  color:#FFFFFF;
}
body {
  margin :0;
  width:100%;
  height:100%;
  background: #CEC4BC;
}

nav{
  width:80px;
  background-color: #FFFFFF;
  border-right:1px solid #FFFFFF;

  position:fixed;
  height:100%
}


nav h2{
  width: 80px;
  height: 95%;
  left: 50%;
  top: 633.11px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  transform: rotate(-90deg);
}
.ha{
  width:1250px;
  margin: 0 auto;
  height:100%;
  background-color: #CEC4BC;
}
.card3{
  background-color: #CEC4BC;
  width:1250px;
  height:92px;
  margin:0 auto;
}
.card3 h2{
  position: absolute;
  margin-left:110;
  width: 238px;
  height: 63px;
  top: -15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color:black;
}

.card3 h1{
  position: absolute;
  width: 238px;
  height: 63px;
  margin-left:250;
  top:5px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color:black;
}

.card2{
  background-color: #CEC4BC;
  width:1250px;
  height:620;
  top:92px;
  margin-top:auto;
  margin:auto;

}
.card23{
  background-color: #CEC4BC;
  width:1250px;
  height:310px;
  margin:0 auto;
}
.rectangle {
  box-sizing: border-box;
  box-align:center;
  margin:100 auto;
  margin-left: 110;

  position: absolute;
  width: 1110px;
  height:600px;
  margin-top:0;


}


table{
   box-sizing: border-box;
    box-align:center;
    margin:100 auto;
    margin-left: 110;

    position: absolute;
    width: 1110px;
    height:600px;
    margin-top:0;


    border: 1px solid #000000;
    }

td h1{
    position: absolute;
width: 273px;
height: 69px;
left: 23%;
top:-2%;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;

color: #000000;

}

form{

position: absolute;
left:10px;
top:10%;
font-family: 'Inter';
font-style: normal;

font-size: 21px;

/* identical to box height, or 133% */



color: #000000;

}
.date{

  box-sizing: border-box;
    width:100px;

    color:black;
        font-size: 20px;
        text-align: center;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 28px;
}
.img{
  position: absolute;
  left:25%; top:22%;
}

td h2{
  position: absolute;
width: 808px;
height: 300px;
left: 25%;
top: 40%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
text-align: left;

color: #000000;

opacity: 0.5;
}
textarea{
  font-size: 18px;
  font-family: 'Inter';
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
text-align: left;

}

.bf1{
  display: inline-block;

  padding:0px;

  font-size: 24px;

  font-family: 'Inter';
  cursor: pointer;

  text-align: center;

  text-decoration: none;

  outline: none;

  color: #fff;

  background-color:#CEC4BC;

  border: none;


}
.b1 :hover{
  background-color: #fff;
}

.b1:active {

  color:#fff;


}

.clicked{
  color:#403831;
}

.b1{
position: absolute;

width: 30px;
height:35px;
margin:0px;
font-family: 'Inter';
font-style: normal;
font-weight: 0;
font-size: 25px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
border: none;
color: #403831;
background-color:#CEC4BC;



}

button{
  margin: auto;
  width: 60px;
  height: 35px;
  left: 400px;
  top: 800px;
  background-color: rgba(255, 255, 255, 0);
  color:black;
  border: 1.3px solid black;


  font-family: 'Hubballi';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 40px;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#myform fieldset{
  display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
  direction: rtl; /* 이모지 순서 반전 */
  border: 0; /* 필드셋 테두리 제거 */
  width:1000px;
}

#myform input[type=radio]{
  display: none; /* 라디오박스 감춤 */
}
#myform label{
  font-size: 1.5em; /* 이모지 크기 */
  color: transparent; /* 기존 이모지 컬러 제거 */
  text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
  
  
}
#myform label:hover{
  text-shadow: 0 0 0 #224932; /* 마우스 호버 */
}
#myform label:hover ~ label{
  text-shadow: 0 0 0 #224932; /* 마우스 호버 뒤에오는 이모지들 */
}
#myform input[type=radio]:checked ~ label{
  text-shadow: 0 0 0 #224932; /* 마우스 클릭 체크 */
}

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    section, aside {
      width: 100%;
      padding: 0;
    }
  }
  /*@media screen and (max-width: 1120px) {
    tabfle {
      width: 220px;
    }

  }

  @media screen and (min-width: 1360px) {
    tablfe {
      width: 243px;
    }
      .number h1{
        font-size: 13px;
    }
  }
*/
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    nav a {
      float: none;
      width: 100%;
    }
  }

  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 300px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }


  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
    top:400px;
  }

  .sidenav h1{
    position: absolute;
    width: 180px;
    height: 80px;
    left: 43px;
    top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #343434;
  }

  .sidenav hr{
    position: absolute;
    width: 160px;
    height: 0px;
    left: 40px;
    top: 230px;

    border : 0px;
    border-top: 1.5px solid #343434;
  }

  .sidenav button{
    position: absolute;
    width:160px;
    top:200px;
    left:40px;
    background-color: rgba(255, 255, 255, 0);
    color:#343434;
    border:1.5px solid #343434;
    align-items: center;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color:black;
    text-align: center;
  }
  nav
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #224932;
    font-size: 16px;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 14px;}
    }
    @media screen and (min-height: 840px) {
      table {
        height:700;
      }
    }

    @media screen and (min-height: 920px) {
      table {
        height:730;
      }
    }