<html>
<head>
  <script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    .loader {
      border: 16px solid #f3f3f3;
      border-top: 16px solid #143a24;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      position:fixed;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }
  
    @keyframes spin {
      0% {transform:translate(-50%,-50%) rotate(0deg); }
      100% {transform:translate(-50%,-50%) rotate(360deg); }
    }
    </style>
    {% block head %}
  <div style="width :1250px;"></div>
  <script src="{{ url_for('static', filename = 'js/index.js')}}"></script>
<link rel="stylesheet"  href="{{ url_for('static', filename = 'css/index.css')}}">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    {% endblock head %}
</head>
{% if session['id'] %}
     <nav style="position:absolute; z-index:10;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="{{url_for('static', filename='image/profile2.png')}}" width="100px" height="105px" style="position:absolute; top:70px; left:25%">
        <h1 style="font-size: 14.5px; top: 160px;"><b>{{session['id']}}</b>님 환영합니다.</h1>
        <hr class="hr1"/>
        <form method="post" action="/mypage/{{session['id']}}/">
                <input type="hidden" name="user_id" value="{{session['id']}}">                  
                        <a href="/mypage/{{session['id']}}/" style="position:absolute; left:8px; top:320px">마이페이지</a>
         </form>
        <button onclick="location.href='/logout'" style="position:absolute; left:23px; top:250px; font-size: 14px; height: 40px; width: 100px; left: 65px;">로그아웃</a></button>
        
        <!--<a href="#" style="position:absolute; left:23px; top:347px; font-size: 14px;">-즐겨찾기 목록</a>-->
       
        <a href="/view_restaurantlist" style="position:absolute; left:8px">맛집 조회</a>
        <a href="/register_restaurant" style="position:absolute; top:435px; left:8px">맛집 등록</a>
        <p></p>
        <a href="/map" style="position:absolute; top:485px; left:8px">맛집 지도</a>
        <a href="/recommend" style="position:absolute; top:520px; left:8px">맛집 추천</a>
    </div>   
     {% else %} 
  <nav style="position:absolute; z-index:10;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="{{url_for('static', filename='image/profile.png')}}"width="100px" height="100px" style="position:absolute; top:70px; left:25%">
        <h1>로그인이 필요합니다.</h1>
        <hr class="hr1"/>
        <button type="button" onclick="location.href='/login'" style="top:250px; height:40px"> 로그인 </button>
        <button type="button" onclick="location.href='/signup'" style="top:300px; height:40px"> 회원가입 </button>
        <a href="/view_restaurantlist" style="position:absolute; left:8px">맛집 조회</a>
        <a href="/register_restaurant" style="position:absolute; top:435px; left:8px">맛집 등록</a>
        <p></p>
        <a href="/map" style="position:absolute; top:485px; left:8px">맛집 지도</a>
        <a href="/recommend" style="position:absolute; top:520px; left:8px">맛집 추천</a>
    </div>
{% endif %}
    <div id = "menu">
      <a onclick="openNav()"><img src="{{url_for('static', filename='image/vector.png')}}" height="77px"
        style="position:absolute; top:0%; left:0%"></a></div>
      <a href="/"> <h2><div class="test_obj2">EAT:WHA </div></h2></a>

</nav>
        
<body>
  <div class="loader"></div>
  <script>
    $(window).on('load',function() {
        $('.loader').fadeOut();
      });
    </script>
    {% block body %}
    
<div class="realbody">
  <div class = "imagebox" style="height:66%; width:80%; margin-top:-3px;">
    <img src="{{url_for('static', filename='image/school.png')}}" height="auto" width="100%" alt="mainphoto"
    style= "min-width:1074px;">
  </div>
  <div class = "namebox" style="height:66%; width:20%;">
    <h2><div class="test_obj">EAT:WHA</div></h2>
    
    <h5><div class="parent"><div class="child">Discover <br><br>Your New Taste!</div></div></h5>
  
     
      
  </div>

  <section>
    <div class = "card" style="margin-top:3px">
      <h2><div class="test_obj3">추천하고 싶은 이대 주변 맛집을 직접 소개해 보세요.</div></h2>
      <button type="button" class="test_obj3" onclick="location.href='/register_restaurant'">
          맛집 등록하기 </button>
    </div>
</section>

<aside>
    <div class="card2">
        <h2><div class="test_obj3">등록된 모든 맛집을 한눈에 살펴볼 수 있습니다.</div></h2>
        <button type="button" class="test_obj3" onclick="location.href='/view_restaurantlist'">
               맛집 보러가기
        </button>
    </div>
</aside>

</div>
    {% endblock body %}
</body>
</html>