<html>
<head>
    {% block head %}
  <div style="width :1250px;"></div>
  <script src="{{ url_for('static', filename = 'js/index.js')}}"></script>
<link rel="stylesheet"  href="{{ url_for('static', filename = 'css/index.css')}}">
    {% endblock head %}
</head>
{% if session['id'] %}
     <nav style="position:absolute; z-index:10;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="profile2.png" width="100px" height="105px" style="position:absolute; top:70px; left:25%">
        <h1><b>{{session['id']}}</b>님 환영합니다.</h1>
        <hr class="hr1"/>
        <a href="특별화면6 - 마이페이지.html" style="position:absolute; left:8px; top:260px">마이페이지</a>
        <a href="/logout" style="position:absolute; left:23px; top:290px; font-size: 14px;">-로그아웃</a>
        <a href="#" style="position:absolute; left:23px; top:317px; font-size: 14px;">-즐겨찾기 목록</a>
        <a href="#" style="position:absolute; left:23px; top:344px; font-size: 14px;">-회원정보 수정</a>
        <a href="/view_restaurantlist" style="position:absolute; left:8px">맛집 조회</a>
        <a href="/register_restaurant" style="position:absolute; top:435px; left:8px">맛집 등록</a>
        <p></p>
        <a href="/map" style="position:absolute; top:485px; left:8px">맛집 지도</a>
        <a href="/recommend" style="position:absolute; top:520px; left:8px">맛집 추천</a>
    </div>   
     {% else %} 
  <nav style="position:absolute; z-index:10;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="{{url_for('static', filename='image/profile.png')}}"width="100px" height="100px" style="position:absolute; top:70px; left:25%">
        <h1>로그인이 필요합니다.</h1>
        <hr class="hr1"/>
        <button type="button" onclick="location.href='/login'" style="top:250px; height:40px"> 로그인 </button>
        <button type="button" onclick="location.href='/signup'" style="top:300px; height:40px"> 회원가입 </button>
        <a href="/view_restaurantlist" style="position:absolute; left:8px">맛집 조회</a>
        <a href="/register_restaurant" style="position:absolute; top:435px; left:8px">맛집 등록</a>
        <p></p>
        <a href="/map" style="position:absolute; top:485px; left:8px">맛집 지도</a>
        <a href="/recommend" style="position:absolute; top:520px; left:8px">맛집 추천</a>
    </div>
{% endif %}
    <div id = "menu">
      <a onclick="openNav()"><img src="{{url_for('static', filename='image/vector.png')}}" height="77px"
        style="position:absolute; top:0%; left:0%"></a></div>
      <a href="/"><h2> EAT:WHA </h2></a>

</nav>
        
<body>
    {% block body %}
<div class="realbody">
  <div class = "imagebox" style="height:66%; width:80%;">
    <img src="{{url_for('static', filename='image/school.png')}}" height="auto" width="100%" alt="mainphoto"
    style= "min-width:1074px;">
  </div>
  <div class = "namebox" style="height:66%; width:20%;">
    <h2>EAT:WHA</h2>
    
      <h5>Discover <br>Your New Taste!</h5>
  
     
      
  </div>

  <section>
    <div class = "card">
        <h2>추천하고 싶은 이대 주변 맛집을 직접 소개해 보세요.</h2>
        <button type="button" onclick="location.href='/register_restaurant'">
            맛집 등록하기 </button>
    </div>
</section>

<aside>
    <div class="card2">
        <h2>등록된 모든 맛집을 한눈에 살펴볼 수 있습니다.</h2>
        <button type="button" onclick="location.href='/view_restaurantlist'">
               맛집 보러가기
        </button>
    </div>
</aside>

</div>
    {% endblock body %}
</body>
</html>
