{% extends "index.html" %}
<html>
    <head>
        {% block head %}
        <div style="width :1250px;"></div>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/login.css')}}">
        <script src="{{ url_for('static', filename = 'js/login.js')}}" defer></script>
       {% endblock head %}
    </head>
</html>
<body>
{% block body %}
    {% block section %}
        {% with mesg=get_flashed_messages() %}
        {% if mesg !=[] %}
            <script>alert("{{mesg[0]}}")</script>
        {% endif %}
        {% endwith %}

    <div class="card">
        <h2 style="position:absolute;
        width: 238px;
        height: 63px;
        margin-left: 110;
        top: 3px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        color:#fff;">로그인</h2>
        <div style="position:absolute; margin-left:1180px; top:32px;">
        <img src= "{{url_for('static', filename='image/To-left (1).png')}}" onclick="history.back();" width="40px" height="40px"></div>
        </div>

    
    <div class ="card2">
        <div class="rectangle">
            <h2><div style="position:absolute; left:111px; top:30%;">
                가입하신 정보로 로그인하세요.</div></h2>
<form action="/login_confirm" method="post">
            <div style="position:absolute; left:45px; top:45%;">
                <input tsype="text" name="id" id="username-field"class="login-form-field" placeholder="   아이디 입력"  required><br>
                <input type="password" type="password" name="password" id="password-field"class="login-form-field" placeholder="   비밀번호 입력" required>
            </div>
            <div style="position:absolute; left:378px; top:45.5%;">
                <button type="login" style="border-radius: 5px; border-color:#CEC4BC;width:144px; height: 137px;font-size: 20px;">로그인</button></div>

            </form>
            <h4><div style="position:absolute; width:534px; height: 100px; left:20px; top:80%;text-align:center;">
                아직 회원이 아니신가요?<br><a href="/signup"><ins>회원가입</ins></a></div></h4>
            <div class="container">
             <img src="{{url_for('static', filename='image/soup.png')}}" alt="food" style="position:absolute; width:50%; height:100%;left:50%;top:0;" >
            </div>
            <h5 style="position:absolute; left: 950px;top:83%">EAT:WHA</h5>
            <div class="v-line"></div>
        </div>
    </div>
    {% endblock section %}
{% endblock body%}
</body>
