<html>
    <head>
        <div style="width :1250px;"></div>
        <link rel="stylesheet" type="text/css" href="map.css">
        <script src="map.js"></script>
    </head>
</html>

<body>
  <nav style="position:absolute; z-index:10;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="profile.png" width="100px" height="100px" style="position:absolute; top:70px; left:25%">
        <h1>로그인이 필요합니다.</h1>
        <hr class="hr1"/>
        <button type="button" onclick="location.href='login.html';" style="top:250px; height:40px"> 로그인 </button>
        <button type="button" onclick="location.href='signup.html';" style="top:300px; height:40px"> 회원가입 </button>
        <a href="view_restaurantlist.html" style="position:absolute; left:8px">맛집 조회</a>
        <a href="register_restaurant.html" style="position:absolute; top:435px; left:8px">맛집 등록</a>
        <p></p>
        <a href="map.html" style="position:absolute; top:485px; left:8px">맛집 지도</a>
        <a href="recommend.html" style="position:absolute; top:520px; left:8px">맛집 추천</a>
    </div>

    <div id = "menu">
      <a onclick="openNav()"><img src="vector.png" height="77px"
        style="position:absolute; top:0%; left:0%"></a></div>
      <a href="index.html"><h2> EAT:WHA </h2></a>
          <!--로그인 성공했을 때-->
        <!--<div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <img src="profile2.png" width="100px" height="105px" style="position:absolute; top:70px; left:25%">
            <h1><b>김이화</b>님 환영합니다.</h1>
            <hr class="hr1"/>
            <a href="특별화면6 - 마이페이지.html" style="position:absolute; left:8px; top:260px">마이페이지</a>
            <a href="#" style="position:absolute; left:23px; top:290px; font-size: 14px;">-로그아웃</a>
            <a href="#" style="position:absolute; left:23px; top:317px; font-size: 14px;">-즐겨찾기 목록</a>
            <a href="#" style="position:absolute; left:23px; top:344px; font-size: 14px;">-회원정보 수정</a>
            <a href="맛집 리스트화면.html" style="position:absolute; left:8px">맛집 조회</a>
            <a href="맛집 등록화면.html" style="position:absolute; top:435px; left:8px">맛집 등록</a>
            <p></p>
            <a href="특별화면5 - 맛집 지도.html" style="position:absolute; top:485px; left:8px">맛집 지도</a>
            <a href="특별화면4 - 맛집추천.html" style="position:absolute; top:520px; left:8px">맛집 추천</a>
        </div>-->
    </nav>

    <div class="card">
        <h2 style="position:absolute;
        width: 238px;
        height: 63px;
        margin-left: 110;
        top: 3px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        color:black;">맛집지도</h2>
        <div style="position:absolute; margin-left:1180px; top:32px;">
        <img src= "To-left.png" onclick="history.back();" width="40px" height="40px"></div>
        </div>
    </div>

<div class="card2">
<div class="rectangle" >

<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3162.7823416395895!2d126.94374538878623!3d37.56019156210604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z7J2M7Iud7KCQ!5e0!3m2!1sko!2skr!4v1667643511547!5m2!1sko!2skr" width="870" height="570" style="border:0;position:absolute;left:10px;top: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div class="vector" style="position:absolute;left:87%;top:40%;">
<img src="Vector (2).png" >
<h1 style="position:absolute;left:-50px;top: 70px;">등록된 맛집들을<br>지도로 한눈에<br> 살펴볼 수 있습니다.</h1></div>


</div>
</div>
</body>
