{% extends "index.html" %}
<html>
    <head>
      {% block head %}
        <div style="width :1250px;"></div>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/register_restaurant.css')}}">
        <script src="{{ url_for('static', filename = 'js/register_restaurant.js')}}"></script>
        {% endblock head %}
    </head>

<body>
  {% block body %}
    <div class="card">
        <h2 style="position:absolute;
        width: 238px;
        height: 63px;
        margin-left: 110;
        top: 3px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        color:white;">맛집 등록하기</h2>
        <div style="position:absolute; margin-left:1180px; top:32px;">
        <img src= "{{url_for('static', filename='image/vector6.png')}}" onclick="history.back();" width="40px" height="40px"></div>
        </div>

    

    <div class ="card2">
        <div class="rectangle">
            <form action="/result" enctype="multipart/form-data" method="POST">
                <h1><div style="position:absolute; left:3%; top:4%;">
                    1. 상호명 등록</div></h1>

                <div style="position:absolute; left:3%; top:10%;">
                    <input type="text" class="input-field" name="name" id="name" placeholder="식당 이름 입력" required></div>

                <h1><div style="position:absolute; left:3%; top:24%;">
                    2. 위치 등록</div></h1>

                <div style="position:absolute; left:3%; top:30%;">
                    <input type="text" class="input-field" name="location" id="location" placeholder="상세 주소 입력" required></div>

                <h1><div style="position:absolute; left:3%; top:44%;">
                    3. 대표번호 등록</div></h1>

                <div style="position:absolute; left:3%; top:50%;">
                    <input type="text" class="input-field" name="phone" id="phone" placeholder="식당 전화번호 입력" required></div>

                <h1><div style="position:absolute; left:3%; top:63%;">
                    4. 음식 카테고리 설정</div></h1>


                <div style="position:absolute; left:3%; top:70%; color:white">
                    <input type="checkbox" class="radio" id="category" name="category" value="한식" onclick="NoMultiChk(this)"><span>한식</span></div>

                <div style="position:absolute; left:10%; top:70%; color:white">
                    <input type="checkbox" class="radio" id="category" name="category" value="중식" onclick="NoMultiChk(this)"><span>중식</span></div>

                <div style="position:absolute; left:17%; top:70%; color:white">
                    <input type="checkbox" class="radio" id="category" name="category" value="일식" onclick="NoMultiChk(this)"><span>일식</span></div>

                <div style="position:absolute; left:24%; top:70%; color:white">
                    <input type="checkbox" class="radio" id="category" name="category" value="양식" onclick="NoMultiChk(this)"><span>양식</span></div>

                <div style="position:absolute; left:3%; top:75%; color:white">
                    <input type="checkbox" class="radio" id="category" name="category" value="분식" onclick="NoMultiChk(this)"><span>분식</span></div>

                <div style="position:absolute; left:10%; top:75%; color:white">
                    <input type="checkbox" class="radio" id="category" name="category" value="카페/디저트" onclick="NoMultiChk(this)"><span>카페/디저트</span></div>

                <div style="position:absolute; left:21%; top:75%; color:white">
                    <input type="checkbox" class="radio" id="category" name="category" value="선택완료(필수체크)" required><span>선택완료(필수체크)</span></div>


                <h1><div style="position:absolute; left:3%; top:85%;">
                    5. 주차/예약 가능 여부 (가능 시 체크하세요.)</div></h1>

                <div style="position:absolute; left:3%; top:92%; color:white">
                    <input type="checkbox" class="radio" id="park" name="park" value="available"><span>주차 가능</span></div>

                <div style="position:absolute; left:12%; top:92%; color:white">
                    <input type="checkbox" class="radio" id="park" name="park" value="unavailable"><span>주차 불가능</span></div>
                
                <div style="position:absolute; left:23%; top:92%; color:white">
                    <input type="checkbox" class="radio" id="reserve" name="reserve" value="available"><span>예약 가능</span></div>
    
                <div style="position:absolute; left:32%; top:92%; color:white">
                    <input type="checkbox" class="radio" id="reserve" name="reserve" value="unavailable"><span>예약 불가능</span></div>
        



                <h1><div style="position:absolute; left:51%; top:4%;">
                    6. 영업시간 등록</div></h1>

                <div style="position:absolute; left:51%; top:10%;">
                    <input type="text" class="input-field2" id="monToSun" name="monToSun" placeholder="요일 입력(ex:월-토)" required></div>

                <div style="position:absolute; left:51%; top:19%;">
                    <input type="time" class= "input-field2" id="open" name="open" required></div>

                <h1><div style="position:absolute; left:67%; top:21.5%; font-size:18px;">
                    시작</div></h1>

                <div style="position:absolute; left:71%; top:19%;">
                    <input type="time" class= "input-field2" id="close" name="close" required></div>

                <h1><div style="position:absolute; left:86.5%; top:21.5%; font-size:18px;">
                    종료</div></h1>

                <h1><div style="position:absolute; left:91%; top:21%; font-size:17px;">
                    <button type="button" onclick="add()">추가</button>
                    </div></h1>

                <div style="position:absolute; left:51%; top:30%; color:white;
                border-bottom: 1px solid white; font-size:18px; padding: 0px 0;">
                    <p id="text" style="margin-bottom:4"></p></div>

                <h1><div style="position:absolute; left:51%; top:44%;">
                    7. 업체사진 등록</div></h1>

                <div style="position:absolute; left:52%; top:48%; ">
                        <div class="button">
                            <label for="file">
                                <p style="border-bottom: 1px solid white; color:white; font-size:18px;
                                position:absolute; left:370px; width:80px; top:0%">파일열기</p>
                            </label>
                        </div>
                        <input type="file" id="file" name="file" accept="image/*" onchange="setThumbnail(event);" required/>
                <div id="image_container"></div>
                </div>



                <h1><div style="position:absolute; left:84%; bottom:1.5%;">
                    <button type="submit" onclick="review()" style="font-size:17px; width:170px;
                                                                    height:35px ">등록 완료하기</button>
                    </div></h1>
            </form>
        </div>

    </div>
    {% endblock body %}
</body>
</html>
