<html>
    <head>
        <div style="width :1250px;"></div>
        <link rel="stylesheet" type="text/css" href="register_restaurant.css">
        <script src="register_restaurant.js"></script>
    </head>

<body>
  <nav style="position:absolute; z-index:10;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="profile.png" width="100px" height="100px" style="position:absolute; top:70px; left:25%">
        <h1>로그인이 필요합니다.</h1>
        <hr class="hr1"/>
        <button type="button" onclick="location.href='login.html';" style="top:250px; height:40px"> 로그인 </button>
        <button type="button" onclick="location.href='signup.html';" style="top:300px; height:40px"> 회원가입 </button>
        <a href="view_restaurantlist.html" style="position:absolute; left:8px">맛집 조회</a>
        <a href="register_restaurant.html" style="position:absolute; top:435px; left:8px">맛집 등록</a>
        <p></p>
        <a href="map.html" style="position:absolute; top:485px; left:8px">맛집 지도</a>
        <a href="recommend.html" style="position:absolute; top:520px; left:8px">맛집 추천</a>
    </div>

    <div id = "menu">
      <a onclick="openNav()"><img src="vector.png" height="77px"
        style="position:absolute; top:0%; left:0%"></a></div>
      <a href="index.html"><h2> EAT:WHA </h2></a>

          <!--로그인 성공했을 때-->
        <!--<div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <img src="profile2.png" width="100px" height="105px" style="position:absolute; top:70px; left:25%">
            <h1><b>김이화</b>님 환영합니다.</h1>
            <hr class="hr1"/>
            <a href="특별화면6 - 마이페이지.html" style="position:absolute; left:8px; top:260px">마이페이지</a>
            <a href="#" style="position:absolute; left:23px; top:290px; font-size: 14px;">-로그아웃</a>
            <a href="#" style="position:absolute; left:23px; top:317px; font-size: 14px;">-즐겨찾기 목록</a>
            <a href="#" style="position:absolute; left:23px; top:344px; font-size: 14px;">-회원정보 수정</a>
            <a href="맛집 리스트화면.html" style="position:absolute; left:8px">맛집 조회</a>
            <a href="맛집 등록화면.html" style="position:absolute; top:435px; left:8px">맛집 등록</a>
            <p></p>
            <a href="특별화면5 - 맛집 지도.html" style="position:absolute; top:485px; left:8px">맛집 지도</a>
            <a href="특별화면4 - 맛집추천.html" style="position:absolute; top:520px; left:8px">맛집 추천</a>
        </div>-->
    </nav>

    <div class="card">
        <h2 style="position:absolute;
        width: 238px;
        height: 63px;
        margin-left: 110;
        top: 3px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        color:white;">맛집 등록하기</h2>
        <div style="position:absolute; margin-left:1180px; top:32px;">
        <img src= vector6.png onclick="history.back();" width="40px" height="40px"></div>
        </div>

    </div>

    <div class ="card2">
        <div class="rectangle">
            <form>
                <h1><div style="position:absolute; left:3%; top:4%;">
                    1. 상호명 등록</div></h1>

                <div style="position:absolute; left:3%; top:10%;">
                    <input type="text" class="input-field" placeholder="식당 이름 입력" required></div>

                <h1><div style="position:absolute; left:3%; top:24%;">
                    2. 위치 등록</div></h1>

                <div style="position:absolute; left:3%; top:30%;">
                    <input type="text" class="input-field" placeholder="상세 주소 입력" required></div>

                <h1><div style="position:absolute; left:3%; top:44%;">
                    3. 대표번호 등록</div></h1>

                <div style="position:absolute; left:3%; top:50%;">
                    <input type="text" class="input-field" placeholder="식당 전화번호 입력" required></div>

                <h1><div style="position:absolute; left:3%; top:63%;">
                    4. 음식 카테고리 설정</div></h1>

                <div style="position:absolute; left:3%; top:70%; color:white">
                    <input type="radio" class="radio"><span>한식</span></div>

                <div style="position:absolute; left:10%; top:70%; color:white">
                    <input type="radio" class="radio"><span>중식</span></div>

                <div style="position:absolute; left:17%; top:70%; color:white">
                    <input type="radio" class="radio"><span>일식</span></div>

                <div style="position:absolute; left:24%; top:70%; color:white">
                    <input type="radio" class="radio"><span>양식</span></div>

                <div style="position:absolute; left:3%; top:75%; color:white">
                    <input type="radio" class="radio"><span>분식</span></div>

                <div style="position:absolute; left:10%; top:75%; color:white">
                    <input type="radio" class="radio"><span>카페/디저트</span></div>

                <h1><div style="position:absolute; left:3%; top:85%;">
                    5. 주차/예약 가능 여부 (가능 시 체크하세요.)</div></h1>

                <div style="position:absolute; left:3%; top:92%; color:white">
                    <input type="radio" class="radio"><span>주차 가능</span></div>

                <div style="position:absolute; left:12%; top:92%; color:white">
                    <input type="radio" class="radio"><span>예약 가능</span></div>



                <h1><div style="position:absolute; left:51%; top:4%;">
                    6. 영업시간 등록</div></h1>

                <div style="position:absolute; left:51%; top:10%;">
                    <input type="text" class="input-field2" placeholder="요일 입력(ex:월-토)" required></div>

                <div style="position:absolute; left:51%; top:19%;">
                    <input type="time" class= "input-field2" ></div>

                <h1><div style="position:absolute; left:67%; top:21.5%; font-size:18px;">
                    시작</div></h1>

                <div style="position:absolute; left:71%; top:19%;">
                    <input type="time" class= "input-field2" ></div>

                <h1><div style="position:absolute; left:86.5%; top:21.5%; font-size:18px;">
                    종료</div></h1>

                <h1><div style="position:absolute; left:91%; top:21%; font-size:17px;">
                    <button type="submit">추가
                    </div></h1>

                <div style="position:absolute; left:51%; top:30%; color:white;
                border-bottom: 1px solid white; font-size:18px; padding: 10px 0;">
                    월-토/ 오전 10:00 시작 - 오후 9:00 종료 </div>

                <h1><div style="position:absolute; left:51%; top:44%;">
                    7. 업체사진 등록</div></h1>

                <div style="position:absolute; left:52%; top:48%; ">
                        <div class="button">
                            <label for="image">
                                <p style="border-bottom: 1px solid white; color:white; font-size:18px;
                                position:absolute; left:320px; width:80px; top:0%">파일 열기</p>
                            </label>
                        </div>
                        <input type="file" id="image" accept="image/*" onchange="setThumbnail(event);"/>
                <div id="image_container"></div>
                </div>

                <h1><div style="position:absolute; left:51%; top:76%;">
                    8. 음식메뉴 등록</div></h1>

                <h1><div style="position:absolute; left:51.5%; top:82.2%; font-size: 16;">
                    등록하고자 하는 맛집의 메인 메뉴를 선정하는 목록입니다.</div></h1>

                <h1><div style="position:absolute; left:52%; top:88%;">
                    <button type="button" onclick="location.href='register_mainmenu.html';" style="font-size:17px; width:170px;
                    height:35px ">메뉴 등록하러 가기
                    </div></h1>

                <h1><div style="position:absolute; left:84%; bottom:1.5%;">
                    <button type="submit" style="font-size:17px; width:170px;
                    height:35px ">등록 완료하기
                    </div></h1>
            </form>
        </div>

    </div>


</body>
</html>
