{% extends "index.html" %}
<html>
    <head>
      {% block head %}
        <div style="width :1250px;"></div>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/write_review.css')}}">
        <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script  src="{{ url_for('static', filename='js/write_review.js') }}"></script>
    {% endblock head %}
    </head>

<body>
  {% block body %}
    <div class="card3">
        <div class="ha">
            <div style="position:absolute;margin-left:1180px; top:32px;">
                <img src="{{url_for('static', filename='image/To-left.png')}}" onclick="history.back();" width="40px" height="40px"></div>
        <h2>코끼리식당</h2>
        <h1>-메뉴-</h1>
        </div>
    </div>
<form action="/view_review" enctype="multipart/form-data" method="POST">
  <div class="card2">

        <table border="1" bordercolor="white"cellspacing="0.5" width="100%;">
            <tr style="text-align:center;" >
                <td  rowspan="4" width="200px;"><img src="{{url_for('static', filename='image/Ellipse 1.png')}}"><br><br>user2</td>
                <td colspan="4" width="910px;"height="210px">
                    <h1>1.방문 날짜 등록, 식당이름</h1>
        
                    <input type="text" class="restaurant_name" name="restaurant_name">
                    <input type="text" class="date" name="year" style="width:9%;background-color:#CEC4BC;border-right:0px;border-left:0px; border-top:0px;">년
                    <input type="text" class="date" name="month" style="width:5%;background-color:#CEC4BC;border-right:0px;border-left:0px; border-top:0px;">월
                    <input type="text" class="date" name="day" style="width:5%;background-color:#CEC4BC;border-right:0px;border-left:0px; border-top:0px;">일
                    
                    

                    <h1 style="top:12%;">2. 평점 등록</h1>
                    <div class="img" ><img src="{{url_for('static', filename='image/Thumbs-up.png')}}"style="top:3px;width:35px; height:35px;"></div>

                    <div class="bb" style="position:absolute; left:-60px;top:20.8%;">
                    
                        <div name="myform" id="myform" method="post" action="./save" >
                            <fieldset>
                                
                                <input type="radio" name="rating" value="5" id="rate1" style="position:absolute;left:-10px;"><label for="rate1">★</label>
                                <input type="radio" name="rating" value="4" id="rate2"style="position:absolute;left:20px;"><label for="rate2">★</label>
                                <input type="radio" name="rating" value="3" id="rate3"style="position:absolute;left:50px;"><label for="rate3">⭐</label>
                                <input type="radio" name="rating" value="2" id="rate4"style="position:absolute;left:80px;"><label for="rate4">⭐</label>
                                <input type="radio" name="rating" value="1" id="rate5"style="position:absolute;left:110px;"><label for="rate5">⭐</label>
                            </fieldset>
                        </div>
                         
                    </div>    
                    
                </td>
            </tr>
            <tr>
                <td width="910px;" height="300px;">
                    <h1 style="top:30%;">3. 리뷰 작성</h1>
                    <h2><textarea name="write" rows="5" cols="20" style="position:absolute;top:-2%;width: 800px;height: 70%;backgr
                        ound-color:#CEC4BC;border-right:0px;border-left:0px; border-top:0px;border-bottom: 0px;"
                                  placeholder="방문한 맛집에 대한 솔직한 리뷰를 작성해주세요."></textarea>
                    </h2>

                </td>
            </tr>
            <tr>
                <td> 
                    <button type="submit" onclick="location.href='/view_review'" img src="{{url_for('static', filename='image/write_complete.png')}}" 
                            style="position:absolute; top:90%;left:950px;"></button>
                   <!-- <a href="view_review.html"><img src="{{url_for('static', filename='image/write_complete.png')}}" style="position:absolute; top:90%;left:950px;"></a> -->
               </td>

            </tr>
        </table>

      </div>
 </form>
    {% endblock body %}
  </body>
</html>
